<div class="home-wrap">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

              <div class="item active">
                <img ng-src="images/slider1.jpg" alt="flower">
                <div class="carousel-caption">
                  <h3>Flowers</h3>
                  <p>Beatiful flowers in and around the internet.</p>
                </div>
              </div>

              <div class="item">
                <img ng-src="images/slider2.jpg" alt="flower">
                <div class="carousel-caption">
                  <h3>Flowers</h3>
                  <p>Beatiful flowers in and around the internet.</p>
                  </div>
              </div>

              <div class="item">
                <img ng-src="images/slider3.jpg" alt="Flower">
                <div class="carousel-caption">
                  <h3>Flowers</h3>
                  <p>Beatiful flowers in and around the internet.</p>
                </div>
             </div>

              <div class="item">
                <img ng-src="images/slider4.jpg" alt="Flower">
                <div class="carousel-caption">
                  <h3>Flowers</h3>
                  <p>Beatiful flowers in and around the internet.</p>
                </div>
              </div>
                
            </div>
        </div>
</div>
<div class="container" id="aboutus">
    <h3 class="services">About the Application</h3>
        <div style="width: 200px; margin: auto; border-top: 1.5px solid #9bc152;"></div>
    <h3>Created by: Anil BT</h3>
    <a href="../files/Anil_CG_Resume.pdf" download>
	   <button type="button" class="btn btn-green">Resume Download</button>
  	</a>
    <div class="row services-wrap">
        <div class="col-md-6">
            <table class="table table-bordered col-md-12">
                <tbody>
                  <tr>
                    <td class="tableColor">FrontEnd technology Used</td>
                    <td>HTML5, CSS3, JavaScript</td>
                  </tr>
                  <tr>
                    <td class="tableColor">FrontEnd Framework Used</td>
                    <td>BOOTSTRAP, AngularJS</td>
                  </tr>
                </tbody>
            </table>
            <table class="table table-bordered col-md-12">
                <tbody>
                  <tr>
                    <td class="tableColor">BackEnd Technology Used</td>
                    <td>ExpressJS, RestFul Web Services</td>
                  </tr>
                  <tr>
                    <td class="tableColor">Platform Used</td>
                    <td>NodeJS, Heroku</td>
                  </tr>
                  <tr>
                    <td class="tableColor">BackEnd DataBase Used</td>
                    <td>MongoDB</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered col-md-12">
                <tbody>
                  <tr>
                    <td class="tableColor">Deployed Using</td>
                    <td>Heroku Cloud Storage</td>
                  </tr>
                  <tr>
                    <td class="tableColor">Database deployed in</td>
                    <td>MongoLab</td>
                  </tr>
                </tbody>
            </table>
            <table class="table table-bordered col-md-12">
                <tbody>
                  <tr>
                    <td class="tableColor">Tools Used</td>
                    <td>git, heroku CLI</td>
                  </tr>
                  <tr>
                    <td class="tableColor">Editor Used</td>
                    <td>Brackets</td>
                  </tr>
                  <tr>
                    <td class="tableColor">Other Library</td>
                    <td>Jquery, npm, gulp, multer, bower</td>
                  </tr>
                </tbody>
            </table>
        </div>
     </div>
</div>

<div class="background_img0"></div>

<div class="container" id="services">
    <div class="row services-wrap">
        <h3 class="services">What We DO</h3>
        <div style="width: 200px; margin: auto; border-top: 1.5px solid #9bc152;"></div>
        
        <div class="col-lg-3 col-md-3">
            <h3 class="service-header"><i class="fa fa-medium fa-2x" aria-hidden="true"></i>Marriage</h3>
            <p class="service-desc">We provide a personalized service that
                ensures that all decoration aspects of your wedding day will look exquisite </p>
        </div>

        <div class="col-lg-3 col-md-3">
            <h3 class="service-header"><i class="fa fa-gift fa-2x" aria-hidden="true"></i>Engagement</h3>
            <p class="service-desc">We provide a personalized service that ensures that all decoration aspects of your wedding day will look exquisite </p>
        </div>

        <div class="col-lg-3 col-md-3">
            <h3 class="service-header"><i class="fa fa-car fa-2x" aria-hidden="true"></i>Car</h3>
            <p class="service-desc">We provide a personalized service that ensures that all decoration aspects of your wedding day will look exquisite</p>
         </div>

         <div class="col-lg-3 col-md-3">
             <h3 class="service-header"><i class="fa fa-stack-exchange fa-2x" aria-hidden="true"></i>Stage</h3>
             <p class="service-desc"> We provide a personalized service that ensures that all decoration aspects of your wedding day will look exquisite</p>
         </div>
     </div>
</div>
    
    <div class="background_img1"></div>

<div class="container" id="portfolio"> 
     <div class="row portfolio-wrap">
          <h3 class="portfolio-header">PORTFOLIO</h3>
        <div style="width: 200px; margin: auto; border-top: 1.5px solid #9bc152;" class="divider"></div>
        <div class="col-lg-4 col-md-4 portfolio">
            <img ng-src="../images/wedding/m1.jpg">
            <span class="portfolio-text">WEDDING</span>
        </div>
         <div class="col-lg-4 col-md-4 portfolio">
            <img ng-src="../images/wedding/m2.jpg">
             <span class="portfolio-text">WEDDING</span>
        </div>
         <div class="col-lg-4 col-md-4 portfolio">
            <img ng-src="../images/wedding/m3.jpg">
             <span class="portfolio-text">WEDDING</span>
        </div>
         <div class="col-lg-4 col-md-4 portfolio">
            <img ng-src="../images/wedding/m4.jpg">
             <span class="portfolio-text">WEDDING</span>
        </div>
         <div class="col-lg-4 col-md-4 portfolio">
            <img ng-src="../images/wedding/m5.png">
             <span class="portfolio-text">WEDDING</span>
        </div>
         <div class="col-lg-4 col-md-4 portfolio">
            <img ng-src="../images/wedding/m6.jpg">
             <span class="portfolio-text">WEDDING</span>
        </div>
     </div>
</div>

<div class="background_img2"></div>

<div class="container" id="ordernow">
        <!-- Title -->
        <div class="row shipping-wrap">
            <div class="col-lg-12">
                <h3 class="portfolio-header">Online Gift Shipping</h3>
                <div style="width: 200px; margin: auto; border-top: 1.5px solid #9bc152;" class="divider"></div>
            </div>

        <!-- Page Features -->
            <div class="row text-center">

                <div class="col-md-3 col-sm-6 mainStyle" ng-repeat="product in productList |limitTo:4">
                    <div class="thumbnail">
                        <img ng-src="../images/uploads/{{product.name}}.jpg" alt="flower_images">
                        <div class="caption">
                            <h3>{{ product.name }}</h3>
                            <p>{{product.desc}}</p>
                            
                                <p>Price: {{product.price |currency}}</p>
                            <div> 
                                <button type="button" class="btn btn-green" data-toggle="modal" ng-click="modalFunction(product)" data-target="#myModal">View</button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Product Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img ng-src="../images/uploads/{{productData.name}}.jpg" width="200px" height="200px" alt="flower_images">
                                                </div>
                                                <div class="col-md-6">
                                                    <h3>{{ productData.name }}</h3>
                                                    <p>{{productData.desc}}</p>
                                                    <p>Price: {{productData.price |currency}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-green" ng-click="addProductToCart(productData)">Add Cart</button>
                                            <button type="button" class="btn btn-green" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                
                                <button class="btn btn-green" 
                                ng-click="addProductToCart(product)">Add Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-greenlink pull-right" href="#/onlinePage">More Products</a>
</div>

<div class="background_img3"></div>

<div class="container" id="contactus">
    <div class="row contact-wrap">
          <h3 class="portfolio-header">CONTACT US</h3>
        <div style="width: 200px; margin: auto; border-top: 1.5px solid #9bc152;" class="divider"></div>
        <div class="col-lg-4 col-md-4 portfolio">
            <h2>Flower Decorations Bangalore</h2>
            <address>
                Name: SOME ONE<br>
                Visit us at:<br>
                Example flowers<br>
                BTM layout Bangaluru<br>
                INDIA
            </address>
            <address>
                Phone: +98888888888<br>
                Email: someone@example.com<br>
                facebook: www.facebook.com/someone
            </address>
        </div>
        <div class="col-lg-4 col-md-4 portfolio">
            <h2>WHERE WE ARE</h2>
            <div id="map" style="width:100%;height:250px"></div>

            <script>
            function myMap() {
              var mapCanvas = document.getElementById("map");
              var mapOptions = {
                center: new google.maps.LatLng(12.972442,77.580643),
                zoom: 5
              };
              var map = new google.maps.Map(mapCanvas, mapOptions);
            }
            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl4Gda9wz5MHxANTmelYqn6_5vUPJo4iQ&callback=myMap"></script>

        </div>
        <div class="col-lg-4 col-md-4 portfolio">
            <h2>Contact Us</h2>
              <form name="myForm" novalidate>
                  <div class="form-group" >
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" ng-model="name" required>
                    <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                        <span ng-show="myForm.name.$error.required">Name is required.</span>
                    </span>
                  </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ng-model="email" required>
                    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                      <span ng-show="myForm.email.$error.required">Email is required.</span>
                      <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                    </span>
                </div>
                <div class="form-group">
                  <label for="number">Number:</label>
                  <input type="number" class="form-control" id="number" placeholder="Enter number" name="number" ng-model="number" required>
                    <span style="color:red" ng-show="myForm.number.$dirty && myForm.number.$invalid">
                        <span ng-show="myForm.number.$error.required">Name is required.</span>
                    </span>
                </div>
                <input type="submit" ng-disabled="!myForm.$valid" class="btn btn-default btn-sub" value="Submit">
              </form>
        </div>
        
    </div>
</div>